.project
.settings
.gitignore
*.csproj
*.csproj.user
*.build
*.mdb
*.mdp
*.mds
*.pdb
*.pidb
*.dll.build
*.dll
*.log

# Ignore .user and .suo files as these are user preference specific
# http://stackoverflow.com/questions/72298/should-i-add-the-visual-studio-suo-and-user-files-to-source-control
*.suo
*.user

*.VisualState.xml
*/*/obj
*/*/*/obj
*/*/*/*/obj
*/*/*/*/*/obj
*/*/*/*/*/*/obj
*/*/*/*/*/*/*/obj
*/*/bin
*/*/*/bin
*/*/*/*/bin
*/*/*/*/*/bin
*/*/*/*/*/*/bin
*/*/*/*/*/*/*/bin
.vs/
addon-modules/
bin/Debug/*.dll
bin/*.dll.mdb
bin/*.db
bin/*.db-journal
bin/addin-db-*
bin/*.dll
bin/ZSim.vshost.exe.config
bin/ZSim.32BitLaunch.vshost.exe.config
bin/ZSim.32BitLaunch.log
UpgradeLog.XML
_UpgradeReport_Files/
bin/ScriptEngines/*-*-*-*-*
bin/ScriptEngines/*.dll
bin/ScriptEngines/*/*.dll
bin/ScriptEngines/*/*.state
bin/*.maddin
bin/*.exe
bin/*.ini
bin/j2kDecodeCache
bin/Physics*
bin/Terrain*
bin/Regions/*
bin/UserAssets
bin/assetcache
bin/maptiles
bin/bakes
bin/estate_settings.xml
bin/config-include/CenomeCache.ini
bin/config-include/FlotsamCache.ini
bin/config-include/GridCommon.ini
bin/config-include/StandaloneCommon.ini
bin/ZSim.Grid.AssetInventoryServer.log
bin/ZSim.Grid.AssetServer.log
bin/ZSim.Grid.GridServer.log
bin/ZSim.Grid.InventoryServer.log
bin/ZSim.Grid.MessagingServer.log
bin/ZSim.Grid.UserServer.log
bin/ZSim.log
bin/ZSimStats.log
bin/Robust.log
bin/RobustStats.log
bin/ZSimConsoleHistory.txt
bin/RobustConsoleHistory.txt
bin/*.Tests.log
bin/*.manifest
bin/crashes/
Examples/*.dll
ZSim.build
ZSim.sln
ZSim.userprefs
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TestResult.xml
cov/*
ZSim/ZSim.userprefs
ZSim/ZSim.usertasks
TAGS
*~
Makefile.local
bin/.version
compile.bat
ZSim/Data/Tests/test-results/
ZSim/Framework/Serialization/Tests/test-results/
ZSim/Framework/Servers/Tests/test-results/
ZSim/Framework/Tests/test-results/
ZSim/Region/ClientStack/Linden/Caps/test-results/
ZSim/Region/ClientStack/Linden/UDP/Tests/test-results/
ZSim/Region/CoreModules/test-results/
ZSim/Region/Framework/test-results/
ZSim/Region/OptionalModules/test-results/
ZSim/Region/Physics/BulletDotNETPlugin/
ZSim/Region/Physics/Manager/test-results/
ZSim/Region/Physics/OdePlugin/Tests/test-results/
ZSim/Region/ScriptEngine/test-results/
ZSim/Tests/Common/test-results/
ZSim/Tests/test-results/
test-results/
doc/html
doc/doxygen.error.log

*.patch
